@model Jour3_HtmlHelper.Models.Student

@{
    ViewBag.Title = "Index3";
}

<h2>Index3</h2>


StudentId: @Html.Editor("StudentId")<br />


Student Name: @Html.Editor("StudentName")<br />


Age: @Html.Editor("Age")<br />


Password: @Html.Editor("Password")<br />


Is Newly Enrolled: @Html.Editor("IsNewlyEnrolled")<br />


Gender: @Html.Editor("Gender")<br />


DoB: @Html.Editor("DoB")<br />


<input type="Submit" value="Save" />


