<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leave Management Solution</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Leave Management Solution", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <p class="site-title">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="/img/LMS.png" alt="" />
                    </a>
                </p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Create Employee", "Create", "Home")</li>
                        }
                        
                        <li>@Html.ActionLink("New request", "LeaveRequest", "Home")</li>
                        <li>@Html.ActionLink("Requested list", "RequestList", "Home")</li>

                        if (User.IsInRole("Manager"))
                        {
                            <li>@Html.ActionLink("Requested check list", "RequestCheck", "Home")</li>
                        }

                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>

                        

                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Date - Leave Management Solution</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>